*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --title-color: #000000;
    --text-color: #4B4B4B;
    --body-color: #F5F5F5;
    --brand-color: #FFFFFF;
    --fiarst-color: #DCE5E2;
    --card-color: #F8F9FA;
}
body {
    /* outline: 1px solid blue; */
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: var(--title-color);
    background-color: var(--brand-color);
}
.container {
    /* outline: 1px solid blue; */
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 73px;
    padding-right: 73px;
}
.section {
    width: 1294px;
    padding: 0;
    margin: auto;
}
.head {
    align-items: center;
    display: flex;
    background-color: var(--brand-color);
    padding-top: 20px;
    padding-bottom: 20px;
}
.head a {
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;    
    text-transform: uppercase;    
}
.head li {
    list-style: none;
}
.nav-solutions {
    display: flex;
    padding: 0;
    margin-right: 35px;
}
.nav {
    width: 1014px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}
.nav-all {
    margin-right: 33px;
}
.nav-about {
    margin-right: 44px;
}
.order {
    display: flex;
    width: 110px;
    margin: 0;
    padding: 8px 29px 8px 16px;
    justify-content: space-between;
    line-height: 0;
}
.order-icon {
    width: 24px;
    height: 24px;
}
.order >li {
    margin: 0;
    padding: 0;
}
.hero {
    display: flex;
    align-items: center;
    height: 550px;
    background-color: var(--fiarst-color);
    border-radius: 32px;
    margin-top: 28px;
    padding-left: 19px;
    padding-right: 19px;
}
.hero-vector {
    width: 12px;
    height: 24px;
}
.hero-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.2;
    margin: 0;    
}
.hero-text {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 19px;
    margin-bottom: 0;   
}
.hero-button {
    display: block;
    width: 170px;
    height: 50px;
    padding: 14px 53px;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 200px;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 30px;
        
    text-transform: capitalize;
}
.hero-card {
    margin-left: 25px;    
}
.presentation {
    margin-top: 28px;
    padding: 47px 0px 6px;
}
.presentation-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.25;
    
    text-align: center;
    margin: 0;    
}
.presentation-text {
    width: 628px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    margin-bottom: 0;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    
    text-align: center;    
}
.presentation-flex-left {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.presentation-flex {
    margin-top: 55px;
    display: flex;
    gap: 16px;
}
.presentation-card {
    list-style: none;
    background: var(--brand-color);
    border-radius: 3.2px;
    margin: 0;
    padding: 0;
}
.laptop,
.watch {
    padding-left: 42px;
    padding-right: 42px;
    width: 639px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.watch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gadjet-laptop,
.gadjet-watch,
.gadjet-phones,
.gadjet-tablet {
    font-size: 15px;
    line-height: 1.28;    
}
.gadjet-text-laptop,
.gadjet-text-watch,
.gadjet-text-phones,
.gadjet-text-tablet {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;   
}
.gadjet-text-laptop,
.gadjet-laptop,
.gadjet-text-watch,
.gadjet-watch {
    text-align: right;
}
.gadjet-phones,
.gadjet-text-phones,
.gadjet-tablet,
.gadjet-text-tablet {
    text-align: center;
}
.gadjet-phones {
    margin-top: 41px;
}
.gadjet-text-tablet {
    margin-bottom: 42px;
}
.phones {
    padding-top: 144px;
    padding-bottom: 144px;
}
.tablet {
    padding-top: 114px;
    padding-bottom: 115px;
}
.phones,
.tablet {
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.shop {
    outline: 1px solid reed;
    width: 1350px;
    padding: 72px 28px 26px 28px;
    margin-right: auto;
    margin-left: auto;
}
.shop-block {
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 0;
    padding-left: 0;
}
.shop-block >li {
    /* outline: 1px solid red; */
}
.shop-list {
    width: 303px;
    height: 396px;
    padding-top: 28px;
    padding-bottom: 1px;
}
.shop-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.shop-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.25;
    margin: 0;
    
    text-align: center;
}
.shop-text {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.29;     
    
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0;
}
.shop-gadjet {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.25;
    margin-top: 37px;
    margin-bottom: 0;    
}
.shop-description {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 9px;
    margin-bottom: 0; 
    
    color: var(--text-color);
}
.shop-price {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 1px;    
}
.macbook {
    margin-top: 25px;
}
.best {
    padding-top: 47px;
    padding-bottom: 28px;
    background-color: var(--brand-color);
}
.best-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.25;    
    text-align: center;
    margin: 0;    
}
.best-text {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.29;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0;    
}
.best-block {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 28px;
    margin-top: 56px;
    margin-bottom: 0px;
    padding: 0;
}
.best-list {
    width: 413px;
    padding-top: 41px;
    background-color: var(--card-color);
}
.best-list-text {
    margin: 0;
    text-align: center;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.29;     
}
.best-list-title {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.25;    
}
.best-img {
    margin-top: 30px;
    margin-bottom: 0;
}
.best-button {
    display: block;
    width: 190px;
    height: 50px;
    padding: 14px 53px;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 200px;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
        
    text-transform: capitalize;
}
.article {
    width: 1350px;
    padding: 47px 28px 24px;
    background-color: var(--brand-color);
}
.article-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.25;
    
    text-align: center;
    margin: 0;    
}
.article-text {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.29;
    
    text-align: center;
    margin-top: 9px;
}
.article-block {
    display: flex;
    margin-top: 56px;
    gap: 35px;
}
.article-list {
    padding-top: 14px;
}
.article-list-text {
    font-size: 24px;
    line-height: 1.25;

    margin-bottom: 28px;
}
.article-see {    
    margin-top: 73px;
    display: flex;
    justify-content: center;
}
.article-see-text {
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    margin: 0;
    
    text-transform: capitalize;
    color: var(--title-color);
}
.search {
    padding: 51px 252px 19px;
    background-color: var(--brand-color);
}
.search-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.25;
    
    text-align: center;
}
.search-button {
    width: 650px;
    display: flex;
    gap: 20px;
    align-items: center;
    background: var(--card-color);
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    padding-left: 17px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 24px auto 0px;
}
.search-button-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    
    text-align: center;
}
.search-blockbutton {
    width: 660px;
    display: flex;
    margin-top: 18px;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7px;
}
.search-blockbutton >button {
    background: var(--brand-color);
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    padding: 12px 22px 13px;
    
    font-size: 14px;
    line-height: 1.2;
}
.reminder {
    padding-top: 47px;
    padding-bottom: 43px;
    background-color: var(--fiarst-color);
    border-radius: 16px;
    margin-top: 68px;
}
.reminder-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.25;
    margin: 0;
    
    text-align: center;
}
.reminder-text {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 9px;
    margin-bottom: 0;
    
    text-align: center;
   
}
.reminder-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}
.reminder-button {
    display: flex;
    margin-top: 14px;
    justify-content: center;
}
.reminder-button-left {
    width: 285px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 1.2;

    text-align: left;
    background: var(--fiarst-color);
    border: 1px solid var(--title-color);
    border-radius: 54px 0px 0px 54px;
    
}
.reminder-button-right {
    width: 115px;
    padding-right: 33px;
    padding-top: 16px;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 1.2;
    color: var(--brand-color);

    background: var(--title-color);
    border-radius: 0px 200px 200px 0px;
    text-align: right;

}
.foot {
    padding-top: 45px;
    background-color: var(--card-color);
}
.foot-flex {
    display: flex;
    gap: 28px;
}
.foot-logo {
    display: block;
    width: 394px;
    padding-top: 10px;
}
.foot-text {
    width: 304px;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 18px;    
}
ul {
    list-style: none;
}
.foot-cardlist {
    width: 197px;

}
.foot-block {
    font-family: 'Readex Pro';
    font-size: 22px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 19px;
}
.foot-list {
    font-size: 17px;
    line-height: 1.27;
    margin-top: 14px;
    margin-bottom: 0;
    
}
.line {
    width: 1350px;
    height: 1px;
    background-color: var(--fiarst-color);
    margin: 79px auto 0px;
}
.made {
    width: 1350px;
    padding: 52px 28px 4px;
    display: flex;
    justify-content: space-between;
}
.made-block {
    display: flex;
    align-items: center;
    margin: 0;
}
.made-title {
    font-family: 'Readex Pro';
    font-size: 18px;
    line-height: 1.2;
}
.made-text {
    font-size: 18px;
    line-height: 1.2;
}
.made-img {
    width: 22px;
    height: 21px;
}
